STMD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1" 
    xmlns:stmd="http://apps.pmsf.net/STMD/SimulationTaskMetaData"
    xmlns:ssc="http://ssp-standard.org/SSP1/SystemStructureCommon"
    targetNamespace="http://apps.pmsf.net/STMD/SimulationTaskMetaData">
    
    <xs:import namespace="http://ssp-standard.org/SSP1/SystemStructureCommon" schemaLocation="ssp/SystemStructureCommon.xsd"/>
    
    <xs:element name="SimulationTaskMetaData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AnalysisPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Analysis Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AnalyzeEngineeringTask" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RequirementsPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Requirements Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DeriveSimulationRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveValidationRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SpecificationPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Specification Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DesignSimulationTestCaseSpecification" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="DesignValidationTestCaseSpecification" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="DesignModelSpecification" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="DesignParameterSpecification" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="DesignSimulationEnvironmentSpecification" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ImplementationAndValidationPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Implementation and Validation Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImplementSimulationTestCase" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="ImplementValidationTestCase" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="ImplementModel" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="ImplementParameter" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="ImplementSimulationEnvironment" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="IntegrateSimulation" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="ValidateSimulation" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ExecutionPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Execution Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ExecuteSimulation" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EvaluationAndDecisionPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Evaluation and Decision Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EvaluateSimulationValidity" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="EvaluateSimulationResults" type="stmd:StepType" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="DecideGoalFulfillment" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
            </xs:sequence>
            <xs:attribute name="version" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Version of STMD format, 0.x for this pre-release.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:normalizedString">
                        <xs:pattern value="0[.][0-9]+(-.*)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This attribute gives the simulation task a name, which can be used
                        for purposes of presenting the simulation task to the user, e.g.
                        when selecting individual variant STMDs from an SSP.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="ssc:ABaseElement"/>
            <xs:attributeGroup ref="ssc:ATopLevelMetaData"/>
        </xs:complexType>
    </xs:element>
    
    <xs:group name="GPhaseCommon">
        <xs:sequence>
            <xs:element name="LifeCycleInformation" minOccurs="0" type="stmd:LifeCycleType"/>
            <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="LifeCycleType">
        <xs:sequence>
            <xs:element name="Drafted" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Defined" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Validated" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Frozen" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Archived" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Retracted" minOccurs="0" type="stmd:LifeCycleEntryType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LifeCycleEntryType">
        <xs:sequence>
            <xs:element name="Resource" minOccurs="0" maxOccurs="unbounded" type="stmd:ResourceType"/>
            <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:dateTimeStamp" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Timestamp when life cycle entry was assigned
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="responsible" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Name of the responsible person for assigning the life cycle entry
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="qualityNorm" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Name of the quality norm that is used to interpret the qualityLabel attribute value
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="qualityLabel" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Assigned quality label as specified by the qualityNorm attribute value
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="StepType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This type specifies the content of each individual step inside a phase of the overall Simulation Task.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Input" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="Process" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="Output" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="Why" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
        </xs:sequence>
        <xs:attributeGroup ref="ssc:ABaseElement"/>
    </xs:complexType>
    
    <xs:complexType name="ParticleType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This type specifies the content of each individual particle inside a step of a phase of the overall Simulation Task.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Resource" minOccurs="0" maxOccurs="unbounded" type="stmd:ResourceType"/>
            <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
        </xs:sequence>
        <xs:attributeGroup ref="ssc:ABaseElement"/>
    </xs:complexType>
    
    <xs:complexType name="ResourceType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This element provides information on one resource that is related to the particular step
                and particle.  Multiple (or no) resources may be present.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Content" minOccurs="0" maxOccurs="1" type="stmd:ContentType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This optional element can contain inlined content of the resource. If it is present,
                        then the attribute source of the Resource element must not be present.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MetaData" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element can specify additional meta data for the given resource. Multiple
                        (or no) MetaData elements may be present.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Content" minOccurs="0" maxOccurs="1" type="stmd:ContentType">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    This optional element can contain inlined content of the resource meta data. If it
                                    is present, then the attribute source of the MetaData element must not be present.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Signature" minOccurs="0" maxOccurs="unbounded" type="stmd:SignatureType">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    This element can contain digital signature information on the meta data referenced
                                    by the enclosing MetaData element. It is left unspecified what types of signatures
                                    are used and/or available for now.  Multiple or no signature elements may be present.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
                    </xs:sequence>
                    <xs:attribute name="kind" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This attribute indicates the kind of resource meta data that is referenced, i.e.
                                what role it plays in relation to the resource being described.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="general"/>
                                <xs:enumeration value="quality"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="type" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This mandatory attribute specifies the MIME type of the resource meta data, which
                                does not have a default value.  If no specific MIME type can be indicated, then
                                the type application/octet-stream is to be used.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="source" type="xs:anyURI" use="optional">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This attribute indicates the source of the resource meta data as a
                                URI (cf. RFC 3986).  For purposes of the resolution of relative URIs
                                the base URI is the URI of the STMD, if the sourceBase attribute is
                                not specified or is specified as STMD, and the URI of the referenced
                                resource if the sourceBase attribute is specified as resource.
                                
                                This allows the specification of meta data sources that reside
                                inside the resource (e.g. an FMU) through relative URIs.
                                
                                For meta data that are located alongside the STMD, relative URIs
                                without scheme and authority can and should be used to specify the
                                meta data sources.  For meta data that are packaged inside an SSP
                                that contains this STMD, this is mandatory (in this way, the STMD
                                URIs remain valid after unpacking the SSP into the filesystem).
                                
                                If the source attribute is missing, the meta data is provided
                                inline as contents of the Content element, which must not be
                                present otherwise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="sourceBase" use="optional" default="STMD">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Defines the base the source URI is resolved against:  If the attribute
                                is missing or is specified as STMD, the source is resolved against the
                                URI of the STMD, if the attribute is specified as resource the URI is
                                resolved against the (resolved) URI of the resource source.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="STMD"/>
                                <xs:enumeration value="resource"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Signature" minOccurs="0" maxOccurs="unbounded" type="stmd:SignatureType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element can contain digital signature information on the resource referenced
                        by the enclosing Resource element. It is left unspecified what types of signatures
                        are used and/or available for now.  Multiple or no signature elements may be present.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
        </xs:sequence>
        <xs:attribute name="kind" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute indicates the kind of resource that is referenced, i.e. what role it
                    plays in relation to the particle being described.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="document"/>
                    <xs:enumeration value="requirement"/>
                    <xs:enumeration value="specification"/>
                    <xs:enumeration value="model"/>
                    <xs:enumeration value="parameter"/>
                    <xs:enumeration value="system"/>
                    <xs:enumeration value="test case"/>
                    <xs:enumeration value="result"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This mandatory attribute specifies the MIME type of the resource, which does not
                    have a default value.  If no specific MIME type can be indicated, then the type
                    application/octet-stream is to be used.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="source" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute indicates the source of the resource as a URI
                    (cf. RFC 3986).  For purposes of the resolution of relative URIs
                    the base URI is the URI of the STMD.  Therefore for resources
                    that are located alongside the STMD, relative URIs without scheme
                    and authority can and should be used to specify the component
                    sources.  For resources that are packaged inside an SSP that
                    contains this STMD, this is mandatory (in this way, the STMD URIs
                    remain valid after unpacking the SSP into the filesystem).
                    
                    If the source attribute is missing, the resource is provided
                    inline as contents of the Content element, which must not be
                    present otherwise.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="master" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute, if present, indicates the original, canonical master source for the resource.
                    If it is present, it indicates that the content provided via source attribute and/or Content
                    element is only a copy of the original, canonical data, and this attributes provides the
                    URI reference to that original canonical master data.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="ssc:ABaseElement"/>
    </xs:complexType>
    
    <xs:complexType name="SignatureType">
        <xs:sequence>
            <xs:element name="Content" minOccurs="0" maxOccurs="1" type="stmd:ContentType"/>
            <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This mandatory attribute specifies the MIME type of the resource signature, which
                    does not have a default value.  If no specific MIME type can be indicated, then
                    the type application/octet-stream is to be used.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="source" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute indicates the source of the resource signature as a
                    URI (cf. RFC 3986).  For purposes of the resolution of relative URIs
                    the base URI is the URI of the STMD, if the sourceBase attribute is
                    not specified or is specified as STMD, and the URI of the referenced
                    resource if the sourceBase attribute is specified as resource.
                    
                    This allows the specification of signature sources that reside
                    inside the resource (e.g. an FMU) through relative URIs.
                    
                    For signatures that are located alongside the STMD, relative URIs
                    without scheme and authority can and should be used to specify the
                    signature sources.  For signatures that are packaged inside an SSP
                    that contains this STMD, this is mandatory (in this way, the STMD
                    URIs remain valid after unpacking the SSP into the filesystem).
                    
                    If the source attribute is missing, the signature is provided
                    inline as contents of the Content element, which must not be
                    present otherwise.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sourceBase" use="optional" default="STMD">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Defines the base the source URI is resolved against:  If the attribute
                    is missing or is specified as STMD, the source is resolved against the
                    URI of the STMD, if the attribute is specified as resource the URI is
                    resolved against the (resolved) URI of the resource source.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="STMD"/>
                    <xs:enumeration value="resource"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="ContentType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This optional element can contain inlined content of an entity. If it is present,
                then the attribute source of the enclosing element must not be present.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Markdown" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element can be used in content of resources to embed simple Markdown formatted
                        textual content.  The content must match the Markdown specification 
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
        
</xs:schema>