STMD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1" 
    xmlns:stmd="http://apps.pmsf.net/STMD/SimulationTaskMetaData"
    xmlns:stc="http://apps.pmsf.net/SSPTraceability/SSPTraceabilityCommon"
    xmlns:ssc="http://ssp-standard.org/SSP1/SystemStructureCommon"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    targetNamespace="http://apps.pmsf.net/STMD/SimulationTaskMetaData">
    
    <xs:import namespace="http://ssp-standard.org/SSP1/SystemStructureCommon" schemaLocation="ssp/SystemStructureCommon.xsd"/>
    <xs:import namespace="http://apps.pmsf.net/SSPTraceability/SSPTraceabilityCommon" schemaLocation="STC.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="https://www.w3.org/XML/2008/06/xlink.xsd"/>
    
    <xs:element name="SimulationTaskMetaData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GeneralInformation" minOccurs="0" type="stc:GeneralInformationType"/>
                <xs:element name="AnalysisPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Analysis Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AnalyzeEngineeringTask" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="VerifyEngineeringTaskAnalysis" type="stc:StepType" minOccurs="0"/>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RequirementsPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Requirements Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DeriveModelRequirements" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DeriveParameterRequirements" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationEnvironmentRequirements" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationIntegrationRequirements" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DeriveTestCaseRequirements" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DeriveProcessQualityRequirements" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="VerifyRequirements" type="stc:StepType" minOccurs="0"/>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DesignPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Specification Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DesignModelSpecification" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DesignParameterSpecification" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DesignSimulationEnvironmentSpecification" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DesignSimulationIntegrationSpecification" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DesignTestCaseSpecification" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DesignProcessQualitySpecification" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="VerifyDesignSpecification" type="stc:StepType" minOccurs="0"/>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ImplementationPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Implementation and Validation Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImplementModel" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="ImplementParameter" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="ImplementSimulationEnvironment" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="ImplementTestCase" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="IntegrateSimulation" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="AssureSimulationSetupQuality" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationSetupQualityVerdict" type="stc:StepType" minOccurs="0"/>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ExecutionPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Execution Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ExecuteSimulation" type="stc:StepType" minOccurs="0"/>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EvaluationPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Evaluation Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EvaluateSimulationResults" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="AssureSimulationQuality" type="stc:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationQualityVerdict" type="stc:StepType" minOccurs="0"/>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FulfillmentPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Fulfillment Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DecideObjectiveFulfillment" type="stc:StepType" minOccurs="0"/>
                            <xs:group ref="stc:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:group ref="stc:GElementCommon"/>
            </xs:sequence>
            <xs:attribute name="version" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Version of STMD format, 0.x for this pre-release.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:normalizedString">
                        <xs:pattern value="0[.][0-9]+(-.*)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This attribute gives the simulation task a name, which can be used
                        for purposes of presenting the simulation task to the user, e.g.
                        when selecting individual variant STMDs from an SSP.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="ssc:ABaseElement"/>
            <xs:attributeGroup ref="ssc:ATopLevelMetaData"/>
            <xs:attribute name="GUID" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        GUID identifier of this STMD file. Must be globally unique and MUST
                        change, whenever a new file with differing information is written.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
