STMD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1" 
    xmlns:stmd="http://apps.pmsf.net/STMD/SimulationTaskMetaData"
    xmlns:ssc="http://ssp-standard.org/SSP1/SystemStructureCommon"
    targetNamespace="http://apps.pmsf.net/STMD/SimulationTaskMetaData">
    
    <xs:import namespace="http://ssp-standard.org/SSP1/SystemStructureCommon" schemaLocation="ssp/SystemStructureCommon.xsd"/>
    
    <xs:element name="SimulationTaskMetaData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GeneralInformation" type="stmd:GeneralInformationType"/>
                <xs:element name="AnalysisPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Analysis Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AnalyzeEngineeringTask" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="VerifyEngineeringTaskAnalysis" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RequirementsPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Requirements Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DeriveModelRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveParameterRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationEnvironmentRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationIntegrationRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveTestCaseRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveProcessQualityRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="VerifyRequirements" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DesignPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Specification Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DesignModelSpecification" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DesignParameterSpecification" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DesignSimulationEnvironmentSpecification" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DesignSimulationIntegrationSpecification" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DesignTestCaseSpecification" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DesignProcessQualitySpecification" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="VerifyDesignSpecification" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ImplementationPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Implementation and Validation Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImplementModel" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="ImplementParameter" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="ImplementSimulationEnvironment" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="ImplementTestCase" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="IntegrateSimulation" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="AssureSimulationSetupQuality" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationSetupQualityVerdict" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ExecutionPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Execution Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ExecuteSimulation" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EvaluationPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Evaluation Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EvaluateSimulationResults" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="AssureSimulationQuality" type="stmd:StepType" minOccurs="0"/>
                            <xs:element name="DeriveSimulationQualityVerdict" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FulfillmentPhase" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            This element specifies the Fulfillment Phase of the overall Simulation Task.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DecideObjectiveFulfillment" type="stmd:StepType" minOccurs="0"/>
                            <xs:group ref="stmd:GPhaseCommon"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ssc:ABaseElement"/>
                    </xs:complexType>
                </xs:element>
                <xs:group ref="stmd:GElementCommon"/>
            </xs:sequence>
            <xs:attribute name="version" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Version of STMD format, 0.x for this pre-release.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:normalizedString">
                        <xs:pattern value="0[.][0-9]+(-.*)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This attribute gives the simulation task a name, which can be used
                        for purposes of presenting the simulation task to the user, e.g.
                        when selecting individual variant STMDs from an SSP.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attributeGroup ref="ssc:ABaseElement"/>
            <xs:attributeGroup ref="ssc:ATopLevelMetaData"/>
            <xs:attribute name="GUID" use="required" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        GUID identifier of this STMD file. Must be globally unique and MUST
                        change, whenever a new file with differing information is written.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="GeneralInformationType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This element is used to encapsulate general information about the
                simulation task, which is not part of any specific phase or step.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DerivationChain">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element can be used to provide the set of file information that
                        was used to derive the current file. I.e. if the content of the current
                        file can be considered to be derived from one or a set of other STMD
                        files, then the top level meta data and DerivationChain information of
                        those files should be included in their original order as entries in
                        this file's DerivationChain element.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="GUID" type="xs:string" use="required"/>
                                <xs:attributeGroup ref="ssc:ATopLevelMetaData"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:group name="GElementCommon">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Common element content for all modeling elements of the STMD file.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Classification" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element, which can occur multiple times, provides a set of classifications
                        of an STMD modeling element, provided as Keyword Value Pairs (KWP), the meaning
                        of which is interpreted according to the name of the classification provided in
                        the name attribute.
                        
                        This approach can be used, for example, to provide searchable keywords for
                        content, or to assign and track quality or validation level requirements
                        across the STMD process, or to maintain variant or other classification
                        content across the process.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    This element provides a keyword value pair entry, with the
                                    keyword provided through the keyword attribute and the value
                                    being the contents of the element.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                                <xs:attribute name="keyword" type="xs:normalizedString">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                            This attribute gives the keyword for the classification entry
                                            (i.e. keyword value pair).  It is left undefined whether this
                                            must be unique across the entries of the Classification element,
                                            or whether repeated entries are allowed.  This will depend on
                                            the definition of the classification.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:normalizedString">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This attribute provides the name of the type of classification
                                being provided.  The name should be unique across the Classification
                                elements of the immediately enclosing element.
                                
                                In order to ensure uniqueness all types should be identified
                                with reverse domain name notation (cf. Java package names
                                or Apple UTIs) of a domain that is controlled by the entity
                                defining the semantics and content of the classification.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Annotations" minOccurs="0" type="ssc:TAnnotations"/>
        </xs:sequence>
    </xs:group>
    
    <xs:group name="GPhaseCommon">
        <xs:sequence>
            <xs:element name="LifeCycleInformation" minOccurs="0" type="stmd:LifeCycleInformationType"/>
            <xs:group ref="stmd:GElementCommon"/>
        </xs:sequence>
    </xs:group>
    
    <xs:complexType name="LifeCycleInformationType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This element contains life cycle information about the enclosing phase or or step
                element.  Due to the inherent dependencies of life cycles, life cycle information
                at later phases will be dependent on life cycle status of former phases to a
                certain extent:  For example, if the Implementation Phase is designated as having
                reached the status "Validated", it would create a contradiction if the Requirements
                Phase has only reached status "Drafted".
                
                Multiple life cycle information entries can be present, in order to record the
                historical progression of the life cycle status, however only the last entry in
                document order, which will also be of the highest maturity, will be considered
                valid for the current file contents, earlier states only recording historical
                data.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Drafted" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Defined" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Validated" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Approved" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Archived" minOccurs="0" type="stmd:LifeCycleEntryType"/>
            <xs:element name="Retracted" minOccurs="0" type="stmd:LifeCycleEntryType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LifeCycleEntryType">
        <xs:sequence>
            <xs:element name="Resource" minOccurs="0" maxOccurs="unbounded" type="stmd:ResourceType"/>
            <xs:element name="Responsible" type="stmd:ResponsibleType"/>
            <xs:element name="Signature" minOccurs="0" maxOccurs="unbounded" type="stmd:SignatureType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element can contain digital signature information on the checksum
                        attribute of the life cycle entry element.  It is left unspecified what types
                        of signatures are used and/or available for now.  Multiple or no signature elements
                        may be present.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="stmd:GElementCommon"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:dateTimeStamp" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Timestamp when life cycle entry was assigned. Note that the time stamp data type makes
                    timezone information mandatory, so that a full ordering of times is possible.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="checksum" type="xs:hexBinary">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute gives the checksum over the phase/step information stored in the enclosing
                    phase/step element, calculated according to the STMD specification.  This attribute is optional
                    if the life cycle stage is not Approved or Archived, but becomes required if the life cycle stage
                    is Approved or Archived. Optionally, digital signatures over this checksum can be provided using
                    Signature elements in the enclosing life cycle entry element.
                    
                    The checksum is calculated using the algorithm indicated by the checksumType attribute.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="checksumType" type="xs:string" default="SHA3-256">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute gives the algorithm for the calculation of the checksum attribute. MUST be
                    SHA3-256 for now, indicating a SHA3 256bit secure hash algorithm, as specified in FIPS 202.
                    In the future other checksum algorithms might be supported.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="StepType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This type specifies the content of each individual step inside a phase of the overall Simulation Task.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Input" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="Process" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="Output" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="Rationale" minOccurs="0" type="stmd:ParticleType"/>
            <xs:element name="LifeCycleInformation" type="stmd:LifeCycleInformationType" minOccurs="0"/>
            <xs:group ref="stmd:GElementCommon"/>
        </xs:sequence>
        <xs:attributeGroup ref="ssc:ABaseElement"/>
    </xs:complexType>
    
    <xs:complexType name="ParticleType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This type specifies the content of each individual particle inside a step of a phase of the overall Simulation Task.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Resource" minOccurs="0" maxOccurs="unbounded" type="stmd:ResourceType"/>
            <xs:group ref="stmd:GElementCommon"/>
        </xs:sequence>
        <xs:attributeGroup ref="ssc:ABaseElement"/>
    </xs:complexType>
    
    <xs:complexType name="ResourceType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This element provides information on one resource that is related to the particular step
                and particle.  Multiple (or no) resources may be present.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Content" minOccurs="0" maxOccurs="1" type="stmd:ContentType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This optional element can contain inlined content of the resource. If it is present,
                        then the attribute source of the Resource element must not be present.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Summary" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element provides an optional summary of the resource being referenced.  The
                        summary information is intended for human consumption to get an overview of the
                        resource content without looking at the content itself.  The summary content can
                        be provided inline through the Content element, or it can be provided through the
                        source URI attribute.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Content" minOccurs="0" maxOccurs="1" type="stmd:ContentType">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    This optional element can contain inlined content of the resource summary. If it
                                    is present, then the attribute source of the Summary element must not be present.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Signature" minOccurs="0" maxOccurs="unbounded" type="stmd:SignatureType">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    This element can contain digital signature information on the summary referenced
                                    by the enclosing Summary element. It is left unspecified what types of signatures
                                    are used and/or available for now.  Multiple or no signature elements may be present.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:group ref="stmd:GElementCommon"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This mandatory attribute specifies the MIME type of the resource summary, which
                                does not have a default value.  If no specific MIME type can be indicated, then
                                the type application/octet-stream is to be used.  If markdown content is used,
                                then the type text/markdown shall be used.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="source" type="xs:anyURI" use="optional">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This attribute indicates the source of the resource summary as a
                                URI (cf. RFC 3986).  For purposes of the resolution of relative URIs
                                the base URI is the URI of the STMD, if the sourceBase attribute is
                                not specified or is specified as STMD, and the URI of the referenced
                                resource if the sourceBase attribute is specified as resource.
                                
                                This allows the specification of summary sources that reside
                                inside the resource (e.g. an FMU) through relative URIs.
                                
                                For summaries that are located alongside the STMD, relative URIs
                                without scheme and authority can and should be used to specify the
                                summary sources.  For summaries that are packaged inside an SSP
                                that contains this STMD, this is mandatory (in this way, the STMD
                                URIs remain valid after unpacking the SSP into the filesystem).
                                
                                If the source attribute is missing, the summary is provided
                                inline as contents of the Content element, which must not be
                                present otherwise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="sourceBase" use="optional" default="STMD">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Defines the base the source URI is resolved against:  If the attribute
                                is missing or is specified as STMD, the source is resolved against the
                                URI of the STMD, if the attribute is specified as resource the URI is
                                resolved against the (resolved) URI of the resource source.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="STMD"/>
                                <xs:enumeration value="resource"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="MetaData" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element can specify additional meta data for the given resource. Multiple
                        (or no) MetaData elements may be present.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Content" minOccurs="0" maxOccurs="1" type="stmd:ContentType">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    This optional element can contain inlined content of the resource meta data. If it
                                    is present, then the attribute source of the MetaData element must not be present.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Signature" minOccurs="0" maxOccurs="unbounded" type="stmd:SignatureType">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    This element can contain digital signature information on the meta data referenced
                                    by the enclosing MetaData element. It is left unspecified what types of signatures
                                    are used and/or available for now.  Multiple or no signature elements may be present.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:group ref="stmd:GElementCommon"/>
                    </xs:sequence>
                    <xs:attribute name="kind" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This attribute indicates the kind of resource meta data that is referenced, i.e.
                                what role it plays in relation to the resource being described.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="general"/>
                                <xs:enumeration value="quality"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="type" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This mandatory attribute specifies the MIME type of the resource meta data, which
                                does not have a default value.  If no specific MIME type can be indicated, then
                                the type application/octet-stream is to be used.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="source" type="xs:anyURI" use="optional">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                This attribute indicates the source of the resource meta data as a
                                URI (cf. RFC 3986).  For purposes of the resolution of relative URIs
                                the base URI is the URI of the STMD, if the sourceBase attribute is
                                not specified or is specified as STMD, and the URI of the referenced
                                resource if the sourceBase attribute is specified as resource.
                                
                                This allows the specification of meta data sources that reside
                                inside the resource (e.g. an FMU) through relative URIs.
                                
                                For meta data that are located alongside the STMD, relative URIs
                                without scheme and authority can and should be used to specify the
                                meta data sources.  For meta data that are packaged inside an SSP
                                that contains this STMD, this is mandatory (in this way, the STMD
                                URIs remain valid after unpacking the SSP into the filesystem).
                                
                                If the source attribute is missing, the meta data is provided
                                inline as contents of the Content element, which must not be
                                present otherwise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="sourceBase" use="optional" default="STMD">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Defines the base the source URI is resolved against:  If the attribute
                                is missing or is specified as STMD, the source is resolved against the
                                URI of the STMD, if the attribute is specified as resource the URI is
                                resolved against the (resolved) URI of the resource source.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="STMD"/>
                                <xs:enumeration value="resource"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="Signature" minOccurs="0" maxOccurs="unbounded" type="stmd:SignatureType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        This element can contain digital signature information on the resource referenced
                        by the enclosing Resource element. It is left unspecified what types of signatures
                        are used and/or available for now.  Multiple or no signature elements may be present.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="stmd:GElementCommon"/>
        </xs:sequence>
        <xs:attribute name="kind" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute indicates the kind of resource that is referenced, i.e. what role it
                    plays in relation to the particle being described.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="document"/>
                    <xs:enumeration value="requirement"/>
                    <xs:enumeration value="specification"/>
                    <xs:enumeration value="model"/>
                    <xs:enumeration value="parameter"/>
                    <xs:enumeration value="system"/>
                    <xs:enumeration value="test case"/>
                    <xs:enumeration value="result"/>
                    <xs:enumeration value="method"/>
                    <xs:enumeration value="rationale"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This mandatory attribute specifies the MIME type of the resource, which does not
                    have a default value.  If no specific MIME type can be indicated, then the type
                    application/octet-stream is to be used.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="source" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute indicates the source of the resource as a URI
                    (cf. RFC 3986).  For purposes of the resolution of relative URIs
                    the base URI is the URI of the STMD.  Therefore for resources
                    that are located alongside the STMD, relative URIs without scheme
                    and authority can and should be used to specify the component
                    sources.  For resources that are packaged inside an SSP that
                    contains this STMD, this is mandatory (in this way, the STMD URIs
                    remain valid after unpacking the SSP into the filesystem).
                    
                    If the source attribute is missing, the resource is provided
                    inline as contents of the Content element, which must not be
                    present otherwise.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="master" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute, if present, indicates the original, canonical master source for the resource.
                    If it is present, it indicates that the content provided via source attribute and/or Content
                    element is only a copy of the original, canonical data, and this attributes provides the
                    URI reference to that original canonical master data.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="ssc:ABaseElement"/>
    </xs:complexType>
    
    <xs:complexType name="SignatureType">
        <xs:sequence>
            <xs:element name="Content" minOccurs="0" maxOccurs="1" type="stmd:ContentType"/>
            <xs:group ref="stmd:GElementCommon"/>
        </xs:sequence>
        <xs:attribute name="role" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This mandatory attribute specifies the role this signature has in the overall
                    process. It indicates whether the digital signature is intended to just convey
                    the authenticity of the information, or whether a claim for suitability of
                    the information for certain purposes is made.  In the later case, the digital
                    signature format should include detailed information about what suitability
                    claims are being made.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="authenticity"/>
                    <xs:enumeration value="suitability"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This mandatory attribute specifies the MIME type of the resource signature, which
                    does not have a default value.  If no specific MIME type can be indicated, then
                    the type application/octet-stream is to be used.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="source" type="xs:anyURI" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute indicates the source of the resource signature as a
                    URI (cf. RFC 3986).  For purposes of the resolution of relative URIs
                    the base URI is the URI of the STMD, if the sourceBase attribute is
                    not specified or is specified as STMD, and the URI of the referenced
                    resource if the sourceBase attribute is specified as resource.
                    
                    This allows the specification of signature sources that reside
                    inside the resource (e.g. an FMU) through relative URIs.
                    
                    For signatures that are located alongside the STMD, relative URIs
                    without scheme and authority can and should be used to specify the
                    signature sources.  For signatures that are packaged inside an SSP
                    that contains this STMD, this is mandatory (in this way, the STMD
                    URIs remain valid after unpacking the SSP into the filesystem).
                    
                    If the source attribute is missing, the signature is provided
                    inline as contents of the Content element, which must not be
                    present otherwise.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="sourceBase" use="optional" default="STMD">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Defines the base the source URI is resolved against:  If the attribute
                    is missing or is specified as STMD, the source is resolved against the
                    URI of the STMD, if the attribute is specified as resource the URI is
                    resolved against the (resolved) URI of the resource source.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="STMD"/>
                    <xs:enumeration value="resource"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="ContentType" mixed="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This optional element can contain inlined content of an entity. If it is present,
                then the attribute source of the enclosing element must not be present.
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="ResponsibleType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                This element gives information on the responsible entity for a given step.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="organization" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute gives the organization that is responsible for a given step.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="role" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute gives the role of the person that is responsible for a given step.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    This attribute gives the name of the person that is responsible for a given step.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
</xs:schema>
